<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272157910356-4aak5hvtks8m7ekgjc3pb6on256cgfgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272157910356-4aak5hvtks8m7ekgjc3pb6on256cgfgf</string>
	<key>API_KEY</key>
	<string>AIzaSyBelx44aFWtIwnU3oZZ8qLZ04ab2TLhKnY</string>
	<key>GCM_SENDER_ID</key>
	<string>272157910356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yambal.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-f72f3</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-f72f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272157910356:ios:0f1b605b99ac7c955114c1</string>
	<key>DATABASE_URL</key>
	<string>https://chat-f72f3.firebaseio.com</string>
</dict>
</plist>